In [1]:
%matplotlib inline

In [194]:
from __future__ import division
import pandas as pd
import numpy as np

# Import and create dataset

In [145]:
movies = pd.read_table("/Users/adrienpacifico/Downloads/ml-1m/movies.dat" , sep="::", names=["movie_id","movie_name", "genre"], index_col = False) 
#movies

In [146]:
ratings = pd.read_table("/Users/adrienpacifico/Downloads/ml-1m/ratings.dat" , sep="::", names=[ "user_id", "movie_id", "rating", "timestamp"] )#; ratings

In [147]:
users = pd.read_table("/Users/adrienpacifico/Downloads/ml-1m/users.dat" , sep="::", names=[ "user_id", "gender", "age", "occupation_code", "zip"])# ; users

In [148]:
movie_data = pd.merge(ratings, movies, on= "movie_id")

In [149]:
movie_data = pd.merge(movie_data, users, on= "user_id")

In [150]:
movie_data.head()

,user_id,movie_id,rating,timestamp,movie_name,genre,gender,age,occupation_code,zip
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama,F,1,10,48067
1,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical,F,1,10,48067
2,1,914,3,978301968,My Fair Lady (1964),Musical|Romance,F,1,10,48067
3,1,3408,4,978300275,Erin Brockovich (2000),Drama,F,1,10,48067
4,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy,F,1,10,48067

## Five most graded movies

In [152]:
movie_list = list(movie_data.movie_name.value_counts(ascending=False)[:5].index)

movie_list_string = ""
for i in range(len(movie_list)):
    if i < len(movie_list)-1:
        movie_list_string += "{}, ".format(movie_list[i]) 
    else: 
        movie_list_string += "and {}.".format(movie_list[i])

In [153]:
print "The {} most graded movies are ".format(len(movie_list)) + movie_list_string

The 5 most graded movies are American Beauty (1999), Star Wars: Episode IV - A New Hope (1977), Star Wars: Episode V - The Empire Strikes Back (1980), Star Wars: Episode VI - Return of the Jedi (1983), and Jurassic Park (1993).

## Select only active movie (nb of grades >= 250)

In [156]:
active_list = list(movie_data.movie_name.value_counts(ascending=False)[movie_data.movie_name.value_counts(ascending=False).values>=250].index)

In [157]:
active_titles = movie_data.loc[movie_data['movie_name'].isin(active_list)]

## The 3 movies with the highest average rating for females. Do the same for males.

In [161]:
active_titles[active_titles.gender=="F"].groupby(by="movie_name").mean().sort( columns='rating', ascending = False).rating[:10]

movie_name
Close Shave, A (1995)                                     4.644444
Wrong Trousers, The (1993)                                4.588235
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)             4.572650
Wallace & Gromit: The Best of Aardman Animation (1996)    4.563107
Schindler's List (1993)                                   4.562602
Shawshank Redemption, The (1994)                          4.539075
Grand Day Out, A (1992)                                   4.537879
To Kill a Mockingbird (1962)                              4.536667
Creature Comforts (1990)                                  4.513889
Usual Suspects, The (1995)                                4.513317
Name: rating, dtype: float64

In [162]:
active_titles[active_titles.gender=="M"].groupby(by="movie_name").mean().sort( columns='rating', ascending = False).rating[:10]

movie_name
Godfather, The (1972)                                                  4.583333
Seven Samurai (The Magnificent Seven) (Shichinin no samurai) (1954)    4.576628
Shawshank Redemption, The (1994)                                       4.560625
Raiders of the Lost Ark (1981)                                         4.520597
Usual Suspects, The (1995)                                             4.518248
Star Wars: Episode IV - A New Hope (1977)                              4.495307
Schindler's List (1993)                                                4.491415
Wrong Trousers, The (1993)                                             4.478261
Close Shave, A (1995)                                                  4.473795
Rear Window (1954)                                                     4.472991
Name: rating, dtype: float64

## The 10 movies with the most dissimilar grades

In [165]:
(active_titles[active_titles.gender=="F"].groupby(by="movie_name").mean() - active_titles[active_titles.gender=="M"].groupby(by="movie_name").mean()).sort(columns="rating", ascending = False).rating[:10]

movie_name
Dirty Dancing (1987)                     0.830782
Jumpin' Jack Flash (1986)                0.676359
Grease (1978)                            0.608224
Little Women (1994)                      0.548849
Steel Magnolias (1989)                   0.535777
Anastasia (1997)                         0.518391
Rocky Horror Picture Show, The (1975)    0.512885
Color Purple, The (1985)                 0.498851
Age of Innocence, The (1993)             0.487561
Free Willy (1993)                        0.482573
Name: rating, dtype: float64

In [166]:
(active_titles[active_titles.gender=="F"].groupby(by="movie_name").mean() - active_titles[active_titles.gender=="M"].groupby(by="movie_name").mean()).sort(columns="rating", ascending = True).rating[:10]

movie_name
Good, The Bad and The Ugly, The (1966)   -0.726351
Kentucky Fried Movie, The (1977)         -0.676359
Dumb & Dumber (1994)                     -0.638608
Longest Day, The (1962)                  -0.619682
Cable Guy, The (1996)                    -0.613787
Evil Dead II (Dead By Dawn) (1987)       -0.611985
Hidden, The (1987)                       -0.607167
Rocky III (1982)                         -0.581801
Caddyshack (1980)                        -0.573602
For a Few Dollars More (1965)            -0.544704
Name: rating, dtype: float64

### The 5 movies that had the highest standard deviation in rating.

In [167]:
active_titles.groupby(by="movie_name").rating.std().order(ascending = False)[:10]

movie_name
Dumb & Dumber (1994)                     1.321333
Blair Witch Project, The (1999)          1.316368
Natural Born Killers (1994)              1.307198
Tank Girl (1995)                         1.277695
Rocky Horror Picture Show, The (1975)    1.260177
Eyes Wide Shut (1999)                    1.259624
Evita (1996)                             1.253631
Billy Madison (1995)                     1.249970
Fear and Loathing in Las Vegas (1998)    1.246408
Bicentennial Man (1999)                  1.245533
Name: rating, dtype: float64

## Best grade per number of reviews

In [234]:
number_of_rating = active_titles.groupby(by="movie_name").rating.count()
average_rating = active_titles.groupby(by="movie_name").rating.mean()
std_rating = active_titles.groupby(by="movie_name").rating.std()
number_of_men = active_titles[active_titles.gender=="M"].groupby(by="movie_name").rating.count()
number_of_women = active_titles[active_titles.gender=="F"].groupby(by="movie_name").rating.count()
share_of_men_times_std = share_of_men * std_rating
men_std = active_titles[active_titles.gender=="M"].groupby(by="movie_name").rating.std()
women_std = active_titles[active_titles.gender=="F"].groupby(by="movie_name").rating.std()

In [197]:
share_of_men = active_titles[active_titles.gender=="M"].groupby(by="movie_name").rating.count()/active_titles.groupby(by="movie_name").rating.count()

In [204]:
share_of_men[share_of_men>0.94]

movie_name
Heartbreak Ridge (1986)       0.950000
High Plains Drifter (1972)    0.943218
Where Eagles Dare (1969)      0.950943
Name: rating, dtype: float64

In [181]:
active_titles.groupby(by="movie_name").rating.count()

movie_name
'burbs, The (1989)                                                     303
10 Things I Hate About You (1999)                                      700
101 Dalmatians (1961)                                                  565
101 Dalmatians (1996)                                                  364
12 Angry Men (1957)                                                    616
13th Warrior, The (1999)                                               750
2 Days in the Valley (1996)                                            286
20,000 Leagues Under the Sea (1954)                                    575
2001: A Space Odyssey (1968)                                          1716
2010 (1984)                                                            470
28 Days (2000)                                                         505
39 Steps, The (1935)                                                   253
54 (1998)                                                              259
7th Voyage of Sinbad, The (1958)                                       258
8MM (1999)                                                             272
About Last Night... (1986)                                             326
Absent Minded Professor, The (1961)                                    380
Absolute Power (1997)                                                  380
Abyss, The (1989)                                                     1715
Ace Ventura: Pet Detective (1994)                                      766
Ace Ventura: When Nature Calls (1995)                                  389
Addams Family Values (1993)                                            463
Addams Family, The (1991)                                              714
Adventures in Babysitting (1987)                                       541
Adventures of Buckaroo Bonzai Across the 8th Dimension, The (1984)     611
Adventures of Priscilla, Queen of the Desert, The (1994)               469
Adventures of Robin Hood, The (1938)                                   378
African Queen, The (1951)                                             1057
Age of Innocence, The (1993)                                           295
Agnes of God (1985)                                                    276
                                                                      ...
White Men Can't Jump (1992)                                            667
Who Framed Roger Rabbit? (1988)                                       1799
Who's Afraid of Virginia Woolf? (1966)                                 297
Whole Nine Yards, The (2000)                                           602
Wild Bunch, The (1969)                                                 264
Wild Things (1998)                                                     626
Wild Wild West (1999)                                                  902
William Shakespeare's Romeo and Juliet (1996)                          479
Willow (1988)                                                          802
Willy Wonka and the Chocolate Factory (1971)                          1313
Witness (1985)                                                        1046
Wizard of Oz, The (1939)                                              1718
Wolf (1994)                                                            272
Women on the Verge of a Nervous Breakdown (1988)                       353
Wonder Boys (2000)                                                     496
Working Girl (1988)                                                    514
World Is Not Enough, The (1999)                                        862
Wrong Trousers, The (1993)                                             882
Wyatt Earp (1994)                                                      270
X-Files: Fight the Future, The (1998)                                  996
X-Men (2000)                                                          1511
Year of Living Dangerously (1982)                                      391
Yellow Submarine (1968)                                                399
You've Got Mail (1998)                                                 838
Young Frankenstein (1974)                                             1193
Young Guns (1988)                                                      562
Young Guns II (1990)                                                   369
Young Sherlock Holmes (1985)                                           379
Zero Effect (1998)                                                     301
eXistenZ (1999)                                                        410
Name: rating, dtype: int64

In [183]:
pd.stats.ols.OLS(average_rating, {"nb_of_ratings":number_of_rating})

-------------------------Summary of Regression Analysis-------------------------

Formula: Y ~ <nb_of_ratings> + <intercept>

Number of Observations:         1216
Number of Degrees of Freedom:   2

R-squared:         0.1361
Adj R-squared:     0.1354

Rmse:              0.4697

F-stat (1, 1214):   191.2702, p-value:     0.0000

Degrees of Freedom: model 1, resid 1214

-----------------------Summary of Estimated Coefficients------------------------
      Variable       Coef    Std Err     t-stat    p-value    CI 2.5%   CI 97.5%
--------------------------------------------------------------------------------
 nb_of_ratings     0.0004     0.0000      13.83     0.0000     0.0004     0.0005
     intercept     3.2804     0.0239     137.41     0.0000     3.2336     3.3272
---------------------------------End of Summary---------------------------------

In [217]:
pd.stats.ols.OLS(average_rating, {"nb_of_ratings":number_of_rating,"std_rating":std_rating,
                                  "number_of_men":number_of_men, "share_of_men": share_of_men,
                                 })

-------------------------Summary of Regression Analysis-------------------------

Formula: Y ~ <nb_of_ratings> + <number_of_men> + <share_of_men> + <std_rating>
             + <intercept>

Number of Observations:         1216
Number of Degrees of Freedom:   5

R-squared:         0.4789
Adj R-squared:     0.4772

Rmse:              0.3653

F-stat (4, 1211):   278.2333, p-value:     0.0000

Degrees of Freedom: model 4, resid 1211

-----------------------Summary of Estimated Coefficients------------------------
      Variable       Coef    Std Err     t-stat    p-value    CI 2.5%   CI 97.5%
--------------------------------------------------------------------------------
 nb_of_ratings     0.0001     0.0003       0.36     0.7163    -0.0005     0.0007
 number_of_men     0.0003     0.0004       0.72     0.4720    -0.0005     0.0011
  share_of_men    -1.0297     0.2375      -4.34     0.0000    -1.4952    -0.5642
    std_rating    -2.6431     0.0999     -26.47     0.0000    -2.8388    -2.4474
     intercept     6.6679     0.2024      32.94     0.0000     6.2711     7.0647
---------------------------------End of Summary---------------------------------

In [218]:
pd.stats.ols.OLS(average_rating, {"nb_of_ratings":number_of_rating,"std_rating":std_rating,
                                  "number_of_men":number_of_men,
                                 "share x std":share_of_men_times_std})

-------------------------Summary of Regression Analysis-------------------------

Formula: Y ~ <nb_of_ratings> + <number_of_men> + <share x std> + <std_rating>
             + <intercept>

Number of Observations:         1216
Number of Degrees of Freedom:   5

R-squared:         0.4799
Adj R-squared:     0.4781

Rmse:              0.3649

F-stat (4, 1211):   279.2959, p-value:     0.0000

Degrees of Freedom: model 4, resid 1211

-----------------------Summary of Estimated Coefficients------------------------
      Variable       Coef    Std Err     t-stat    p-value    CI 2.5%   CI 97.5%
--------------------------------------------------------------------------------
 nb_of_ratings     0.0001     0.0003       0.25     0.8026    -0.0005     0.0007
 number_of_men     0.0003     0.0004       0.85     0.3934    -0.0004     0.0011
   share x std    -1.1001     0.2398      -4.59     0.0000    -1.5701    -0.6301
    std_rating    -1.8030     0.2113      -8.53     0.0000    -2.2171    -1.3890
     intercept     5.8822     0.1009      58.30     0.0000     5.6844     6.0799
---------------------------------End of Summary---------------------------------

In [236]:
pd.stats.ols.OLS(average_rating, {"nb_of_ratings":number_of_rating,"std_rating":std_rating,
                                  "number_of_men":number_of_men, "women_std":women_std,"men_std":men_std,
                                 "share x std":share_of_men_times_std})

-------------------------Summary of Regression Analysis-------------------------

Formula: Y ~ <men_std> + <nb_of_ratings> + <number_of_men> + <share x std>
             + <std_rating> + <women_std> + <intercept>

Number of Observations:         1216
Number of Degrees of Freedom:   7

R-squared:         0.4826
Adj R-squared:     0.4801

Rmse:              0.3643

F-stat (6, 1209):   187.9705, p-value:     0.0000

Degrees of Freedom: model 6, resid 1209

-----------------------Summary of Estimated Coefficients------------------------
      Variable       Coef    Std Err     t-stat    p-value    CI 2.5%   CI 97.5%
--------------------------------------------------------------------------------
       men_std     2.1117     0.8448       2.50     0.0126     0.4559     3.7675
 nb_of_ratings     0.0001     0.0003       0.30     0.7605    -0.0005     0.0007
 number_of_men     0.0003     0.0004       0.82     0.4098    -0.0004     0.0011
   share x std    -1.1803     0.2457      -4.80     0.0000    -1.6618    -0.6988
    std_rating    -4.4981     1.0818      -4.16     0.0000    -6.6185    -2.3777
--------------------------------------------------------------------------------
     women_std     0.6750     0.2853       2.37     0.0181     0.1159     1.2342
     intercept     5.8470     0.1017      57.47     0.0000     5.6476     6.0464
---------------------------------End of Summary---------------------------------

## Average grade men woman

In [212]:
print active_titles[active_titles.gender=="M"].groupby(by="movie_name").rating.mean().mean()
print active_titles[active_titles.gender=="F"].groupby(by="movie_name").rating.mean().mean()

3.54109003553
3.54858430205

In [ ]:
pd.merge()

In [172]:
active_titles.groupby(by="movie_name").rating.sum()

movie_name
'burbs, The (1989)                                                     882
10 Things I Hate About You (1999)                                     2396
101 Dalmatians (1961)                                                 2032
101 Dalmatians (1996)                                                 1109
12 Angry Men (1957)                                                   2646
13th Warrior, The (1999)                                              2369
2 Days in the Valley (1996)                                            939
20,000 Leagues Under the Sea (1954)                                   2129
2001: A Space Odyssey (1968)                                          6982
2010 (1984)                                                           1606
28 Days (2000)                                                        1548
39 Steps, The (1935)                                                  1031
54 (1998)                                                              716
7th Voyage of Sinbad, The (1958)                                       933
8MM (1999)                                                             779
About Last Night... (1986)                                            1029
Absent Minded Professor, The (1961)                                   1312
Absolute Power (1997)                                                 1276
Abyss, The (1989)                                                     6318
Ace Ventura: Pet Detective (1994)                                     2412
Ace Ventura: When Nature Calls (1995)                                  965
Addams Family Values (1993)                                           1346
Addams Family, The (1991)                                             2263
Adventures in Babysitting (1987)                                      1772
Adventures of Buckaroo Bonzai Across the 8th Dimension, The (1984)    2070
Adventures of Priscilla, Queen of the Desert, The (1994)              1785
Adventures of Robin Hood, The (1938)                                  1502
African Queen, The (1951)                                             4494
Age of Innocence, The (1993)                                          1050
Agnes of God (1985)                                                    933
                                                                      ...
White Men Can't Jump (1992)                                           2127
Who Framed Roger Rabbit? (1988)                                       6620
Who's Afraid of Virginia Woolf? (1966)                                1210
Whole Nine Yards, The (2000)                                          2034
Wild Bunch, The (1969)                                                1079
Wild Things (1998)                                                    2157
Wild Wild West (1999)                                                 1947
William Shakespeare's Romeo and Juliet (1996)                         1629
Willow (1988)                                                         2804
Willy Wonka and the Chocolate Factory (1971)                          5070
Witness (1985)                                                        4180
Wizard of Oz, The (1939)                                              7298
Wolf (1994)                                                            798
Women on the Verge of a Nervous Breakdown (1988)                      1374
Wonder Boys (2000)                                                    1959
Working Girl (1988)                                                   1755
World Is Not Enough, The (1999)                                       2913
Wrong Trousers, The (1993)                                            3976
Wyatt Earp (1994)                                                      882
X-Files: Fight the Future, The (1998)                                 3479
X-Men (2000)                                                          5773
Year of Living Dangerously (1982)                                     1523
Yellow Submarine (1968)                                               1475
You've Got Mail (1998)                                                2833
Young Frankenstein (1974)                                             5071
Young Guns (1988)                                                     1921
Young Guns II (1990)                                                  1073
Young Sherlock Holmes (1985)                                          1285
Zero Effect (1998)                                                    1129
eXistenZ (1999)                                                       1335
Name: rating, dtype: int64