In [1]:
%matplotlib inline

In [2]:
from __future__ import division
import numpy as np
import pandas as pd
pd.core.series.Series.value_counts.im_func.func_defaults = (True, False, False, None, False)
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 50)
#pd.set_option('display.width', 200)
#pd.set_option('display.height', 100)

In [3]:
import matplotlib.pyplot as plt

In [4]:
file_path = "/Users/adrienpacifico/openfisca/Data/openfisca_data_2009.h5"
tmp_file_path = "/Users/adrienpacifico/openfisca/Data/ofsc/tmp/erfs_mensualized.h5"

In [5]:
pd.HDFStore(tmp_file_path)

<class 'pandas.io.pytables.HDFStore'>
File path: /Users/adrienpacifico/openfisca/Data/ofsc/tmp/erfs_mensualized.h5
/enfants_a_naitre_2009                       frame        (shape->[1079,8])
/famc_2009                                   frame        (shape->[112769,2])
/final2                                      frame        (shape->[112360,9])
/final2bis                                   frame        (shape->[112359,9])
/final3                                      frame        (shape->[112359,24])
/final4                                      frame        (shape->[112359,24])
/final_2009                                  frame        (shape->[112360,8])
/fipDat_2009                                 frame        (shape->[2463,29])
/foy_ind_2009                                frame        (shape->[76470,237])
/ind_vars_to_remove_2009                     series       (shape->[1])
/indivi_step_06_2009                         frame        (shape->[112846,2])
/indivim_2009                                frame        (shape->[112427,16])
/input_2009                                  frame        (shape->[112359,35])
/input_mensualized/period_2009               frame        (shape->[112359,35])
/input_mensualized/period_2009-01            frame        (shape->[112359,10])
/input_mensualized/period_2009-02            frame        (shape->[112359,10])
/input_mensualized/period_2009-03            frame        (shape->[112359,10])
/input_mensualized/period_2009-04            frame        (shape->[112359,10])
/input_mensualized/period_2009-05            frame        (shape->[112359,10])
/input_mensualized/period_2009-06            frame        (shape->[112359,10])
/input_mensualized/period_2009-07            frame        (shape->[112359,10])
/input_mensualized/period_2009-08            frame        (shape->[112359,10])
/input_mensualized/period_2009-09            frame        (shape->[112359,10])
/input_mensualized/period_2009-10            frame        (shape->[112359,10])
/input_mensualized/period_2009-11            frame        (shape->[112359,10])
/input_mensualized/period_2009-12            frame        (shape->[112359,10])
/menagem_2009                                frame        (shape->[49016,4])
/pacIndiv_2009                               frame        (shape->[27090,3])
/sif_2009                                    frame        (shape->[58025,17])
/stat_des_adrien_2009                        frame        (shape->[112846,58])
/tot2_2009                                   frame        (shape->[112360,4])
/tot3_2009                                   frame        (shape->[112360,4])

In [6]:
indivi = pd.read_hdf(tmp_file_path,"/indivim_2009")
foy_ind = pd.read_hdf(tmp_file_path,"/foy_ind_2009")
tot2 = pd.read_hdf(tmp_file_path,"/tot2_2009")
tot3 = pd.read_hdf(tmp_file_path,"/tot3_2009")

In [7]:

print foy_ind.sali.sum() 
print tot2.sali.sum()
print tot3.sali.sum() , 1 - (foy_ind.sali.sum()/tot3.sali.sum())

926149352.0
967516134.0
967516134.0 0.0427556508324

In [8]:
print foy_ind.choi.sum() 
print tot2.choi.sum()
print tot3.choi.sum(), 1 - (foy_ind.choi.sum()/tot3.choi.sum())

45946320.0
47545655.0
47545655.0 0.0336378792131

In [9]:
print foy_ind.rsti.sum() 
print tot2.rsti.sum()
print tot3.rsti.sum(), 1 - (foy_ind.rsti.sum()/tot3.rsti.sum())

450038745.0
454750361.0
454750361.0 0.0103608845733

In [10]:
indivi.zsali.sum()

967516134.0

In [11]:
indivim = indivi.copy()

In [12]:
selection = pd.Series()
for var_i in ["zsali", "zchoi", "zrsti", "zalri", "zrtoi", "zragi", "zrici", "zrnci"]:
    var_o = var_i[:-1] + "o"
    test = indivim[var_i] != indivim[var_o]
    if selection.empty:
        selection = test
    else:
        selection = test | selection

In [13]:
indivi_i = indivim[selection].copy()

In [14]:
indivi_i.zsalo.sum()

3487290.0

In [18]:
foy_ind.choi

0          NaN
1          NaN
2         6156
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12        4252
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19        1649
20         NaN
21         NaN
22         NaN
23         NaN
24         NaN
25         NaN
26         NaN
27         NaN
28         NaN
29         NaN
30         NaN
31         NaN
32         NaN
33         NaN
34         NaN
35         NaN
36         NaN
37         NaN
38         NaN
39         NaN
40         NaN
41         NaN
42         NaN
43         NaN
44         NaN
45         NaN
46         NaN
47         NaN
48         NaN
49         NaN
         ...
76420      NaN
76421      NaN
76422      NaN
76423      NaN
76424      NaN
76425      NaN
76426      NaN
76427      NaN
76428      NaN
76429      NaN
76430      NaN
76431      NaN
76432      NaN
76433     8465
76434      NaN
76435      NaN
76436      NaN
76437      NaN
76438      NaN
76439      NaN
76440      NaN
76441     8641
76442      NaN
76443    18288
76444      NaN
76445      NaN
76446      NaN
76447      NaN
76448      NaN
76449      NaN
76450      NaN
76451      NaN
76452      NaN
76453      NaN
76454      NaN
76455      NaN
76456      NaN
76457      NaN
76458      NaN
76459     2482
76460      NaN
76461      NaN
76462      NaN
76463      NaN
76464      NaN
76465      NaN
76466     8108
76467      NaN
76468      NaN
76469     7606
Name: choi, dtype: float64